<div class="relative w-full max-w-md mx-auto overflow-hidden">
  <div
    class="absolute inset-0 flex justify-between items-center px-6 z-0 transition-colors duration-300"
    [ngStyle]="{
      backgroundColor: swipeDirection === 'left' ? '#c5000f' : 'transparent'
    }"
  >
    <span
      *ngIf="swipeDirection === 'left'"
      class="text-white font-bold text-lg absolute right-3"
      >Delete</span
    >
  </div>

  <div class="relative z-10 w-full h-12 flex gap-2 items-center justify-center">
    <div
      class="relative w-full h-full flex items-center bg-cover bg-center pl-4 py-2 ion-activatable ripple-parent rectangle justify-between"
      [ngStyle]="{
        transform: 'translateX(' + translateX + 'px)',
        backgroundImage: note().imageUrl ? 'url(' + note().imageUrl + ')' : ''
      }"
      (mousedown)="onSwipeStart($event)"
      (mousemove)="onSwipeMove($event)"
      (mouseup)="onSwipeEnd()"
      (mouseleave)="scrollY.emit(true)"
      (touchstart)="onSwipeStart($event)"
      (touchmove)="onSwipeMove($event)"
      (touchend)="onSwipeEnd()"
      (dragleave)="scrollY.emit(true)"
      [scrollTop]="true"
    >
      <ion-ripple-effect />

      <!-- CENTER TEXT -->
      <div
        class="text-base items-center flex-grow opacity-60"
        (click)="openTriggered()"
        (keydown)="openTriggered()"
      >
        {{ note().text }}
      </div>

      <!-- RIGHT ICON -->
      <div
        class="right-0 w-1/6 flex h-full justify-center items-center"
        [ngClass]="{ 'backdrop-blur-md': !!note().imageUrl }"
        (click)="deleteTriggered()"
        (keydown)="deleteTriggered()"
      >
        <ion-icon
          slot="icon-only"
          color="danger"
          [name]="deleteIcon"
          class="w-full h-4/5"
          [hidden]="!showDeleteIcon()"
        />
      </div>
    </div>
  </div>
</div>
