<ion-content
  class="ion-padding"
  [scrollX]="false"
  [scrollY]="scrollY()"
  [color]="'light'"
>
  <!-- Header -->
  <app-header />

  <div class="flex flex-col w-full box-border gap-4">
    <ion-accordion-group
      expand="inset"
      [mode]="'ios'"
      class="mx-0"
      [multiple]="true"
      [value]="favoriteNotes && favoriteNotes.length > 0 ? ['all-expanded'] : []"
    >
      <ion-accordion
        value="first"
        [toggleIcon]="'chevron-down-outline'"
        value="all-expanded"
      >
        <ion-item slot="header" color="white">
          <ion-label>Favourites</ion-label>
        </ion-item>
        <div class="flex flex-col" slot="content">
          @for (note of favoriteNotes; track note) {
          <app-swipe-card
            [note]="note"
            (scrollY)="setScrollY($event)"
            (swipeCardOutput)="swipeCardAction($event)"
            [class.fade-out-card]="deletingNoteId() === note.id"
          />
          }
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>

  @if (allNotes()) {
  <div class="flex flex-col w-full box-border gap-4">
    <ion-accordion-group
      expand="inset"
      [mode]="'ios'"
      class="mx-0"
      [multiple]="true"
      [value]="!!allNotes() && allNotes()!.length > 0 ? ['all-expanded'] : []"
    >
      <ion-accordion
        value="first"
        [toggleIcon]="'chevron-down-outline'"
        value="all-expanded"
      >
        <ion-item slot="header" color="white">
          <ion-label>All</ion-label>
        </ion-item>
        <div class="flex flex-col" slot="content">
          @for (note of noteStore.getNotes()(); track note) {
          <app-swipe-card
            [note]="note"
            (scrollY)="setScrollY($event)"
            (swipeCardOutput)="swipeCardAction($event)"
            [class.fade-out-card]="deletingNoteId() === note.id"
          />
          }
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  }

  <ion-fab
    slot="fixed"
    vertical="top"
    horizontal="end"
    [edge]="false"
    class="mt-11 z-[99999]"
  >
    <div>
      <ion-fab-button
        color="warning"
        size="small"
        [translucent]="true"
        mode="ios"
        [routerLink]="['/notes/create-note']"
      >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-fab>

  @if(isOverlayOpen()) {
  <div class="overlay" [class.fade-out]="isClosingOverlay()"></div>
  }
</ion-content>
