<ion-content class="ion-padding" [scrollX]="false" [scrollY]="false">
  <div class="h-full flex flex-col">
    <app-header />
    <div class="flex flex-col justify-between flex-grow">
      <div class="min-h-96 w-full gap-4">
        <tiptap-editor [editor]="editor" [(ngModel)]="value" />
        <tiptap-bubble-menu [editor]="editor">
          <!-- Anything that should be rendered inside bubble menu -->
          prova bubble menu
        </tiptap-bubble-menu>
      </div>

      <ion-button class="w-full h-8" [disabled]="isSaveDisabled()">
        <ion-label (click)="onSaveClick()">
          @if(isLoading()) {
          <ion-spinner></ion-spinner>
          } @else { Save Note }
        </ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>
