<ion-content
  class="ion-padding"
  [scrollX]="false"
  [scrollY]="false"
  [color]="'light'"
>
  <div class="h-full flex flex-col gap-4">
    <app-header />
    <div class="flex flex-col justify-between gap-8 flex-grow">
      <div class="min-h-96 w-full flex-grow">
        <tiptap-editor
          [editor]="editor"
          [(ngModel)]="value"
          class="flex h-full w-full"
          (ngModelChange)="onModelChange($event)"
        />
        <tiptap-bubble-menu [editor]="editor">
          <!-- Anything that should be rendered inside bubble menu -->
          prova bubble menu
        </tiptap-bubble-menu>
      </div>

      <ion-button
        class="w-full h-8 pb-16"
        [disabled]="isSaveDisabled()"
        [color]="'warning'"
      >
        <ion-label (click)="onSaveClick()">
          @if(isLoading()) {
          <ion-spinner></ion-spinner>
          } @else { Save Note }
        </ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>
