<ion-content
  class="ion-padding"
  [scrollX]="false"
  [scrollY]="false"
  [color]="'light'"
>
  <div class="h-full flex flex-col gap-4">
    <app-header />
    <div class="flex flex-col justify-between gap-8 flex-grow">
      <div class="min-h-96 w-full flex-grow text-black">
        <app-text-editor
          (hasTextChangedFromStart)="isSaveDisabled.set($event)"
          (outputValue)="textValue.set($event)"
          [retrievedNote]="retrievedNote"
          [editor]="editor"
        />
      </div>

      <ion-button
        class="w-full h-8 pb-16"
        [disabled]="isSaveDisabled()"
        [color]="'warning'"
        (click)="onEditSaveClick()"
        (keydown)="onEditSaveClick()"
      >
        <ion-label>
          @if(isLoading()) {
          <ion-spinner></ion-spinner>
          } @else { Save Note }
        </ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>
