<ion-content class="ion-padding" [scrollX]="false" [scrollY]="false">
  <!-- Header -->
  <app-header />

  <!-- Contenitore delle card con spazio per il pulsante fisso -->
  <div class="pt-6 flex flex-col w-full ion-padding box-border">
    @for (note of notesId; track note) {
    <app-note-card [noteId]="note" />
    }
  </div>

  <!-- Bottoni (fixed) -->
  <ion-fab
    slot="fixed"
    horizontal="center"
    vertical="bottom"
    class="pb-8 ios fab-horizontal-center fab-vertical-bottom"
    ng-reflect-horizontal="center"
    ng-reflect-vertical="bottom"
  >
    <ion-fab-button color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top" class="pb-8 ios fab-list-side-top">
      <ion-fab-button color="warning" [routerLink]="['/create-note', '50115']">
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
